<div class="wrapper">
  <label for="x">X</label>
  <input #x id="x" type="number"
         [value]="value.x"
         [disabled]="disabled"
         (change)="onChange({x: x.value, y: y.value, z:z.value, w:w.value})"
         (mousedown)="startDrag($event, 'x')"/>

  <label for="y">Y</label>
  <input #y id="y" type="number"
         [value]="value.y"
         [disabled]="disabled"
         (change)="onChange({x: x.value, y: y.value, z:z.value, w:w.value})"
         (mousedown)="startDrag($event, 'y')"/>

  <label for="z">Z</label>
  <input #z id="z" type="number"
         [value]="value.z"
         [disabled]="disabled"
         (change)="onChange({x: x.value, y: y.value, z:z.value, w:w.value})"
         (mousedown)="startDrag($event, 'z')"/>

  <label for="w">W</label>
  <input #w id="w" type="number"
         [value]="value.w"
         [disabled]="disabled"
         (change)="onChange({x: x.value, y: y.value, z:z.value, w:w.value})"
         (mousedown)="startDrag($event, 'w')"/>
</div>
