<div class="wrapper">
  <label for="x">
    <span>X</span>
    <input #x id="x" type="number"
           [step]="step"
           [value]="value.x"
           [disabled]="disabled"
           (change)="onChange({x: x.value, y: y.value, z:z.value, w:w.value})"
           (mousedown)="startDrag($event, 'x')"/>
  </label>
  <label for="y">
    <span>Y</span>
    <input #y id="y" type="number"
           [step]="step"
           [value]="value.y"
           [disabled]="disabled"
           (change)="onChange({x: x.value, y: y.value, z:z.value, w:w.value})"
           (mousedown)="startDrag($event, 'y')"/>
  </label>
  <label for="z">
    <span>Z</span>
    <input #z id="z" type="number"
           [step]="step"
           [value]="value.z"
           [disabled]="disabled"
           (change)="onChange({x: x.value, y: y.value, z:z.value, w:w.value})"
           (mousedown)="startDrag($event, 'z')"/>
  </label>
  <label for="w">
    <span>W</span>
    <input #w id="w" type="number"
           [step]="step"
           [value]="value.w"
           [disabled]="disabled"
           (change)="onChange({x: x.value, y: y.value, z:z.value, w:w.value})"
           (mousedown)="startDrag($event, 'w')"/>
  </label>
</div>
