<div class="wrapper">
  <label for="x">
    <span>X</span>
    <input #x id="x" type="number"
           [step]="step"
           [value]="value.x"
           [disabled]="disabled"
           (change)="markAsChanged({x: x.valueAsNumber, y: y.valueAsNumber, z:z.valueAsNumber})"
           (mousedown)="startDrag($event, 'x')"/>
  </label>
  <label for="y">
    <span>Y</span>
    <input #y id="y" type="number"
           [step]="step"
           [value]="value.y"
           [disabled]="disabled"
           (change)="markAsChanged({x: x.valueAsNumber, y: y.valueAsNumber, z:z.valueAsNumber})"
           (mousedown)="startDrag($event, 'y')"/>
  </label>
  <label for="z">
    <span>Z</span>
    <input #z id="z" type="number"
           [step]="step"
           [valueAsNumber]="value.z"
           [disabled]="disabled"
           (change)="markAsChanged({x: x.valueAsNumber, y: y.valueAsNumber, z:z.valueAsNumber})"
           (mousedown)="startDrag($event, 'z')"/>
  </label>
</div>
