<div class="wrapper">
  <label for="x">
    <span>X</span>
    <input #x id="x" type="number"
           [step]="step"
           [value]="value.x"
           [disabled]="disabled"
           (change)="onChange({x: x.value, y: y.value})"
           (mousedown)="startDrag($event, 'x')"/>
  </label>

  <label for="y">
    <span>Y</span>
    <input #y id="y" type="number"
           [step]="step"
           [value]="value.y"
           [disabled]="disabled"
           (change)="onChange({x: x.value, y: y.value})"
           (mousedown)="startDrag($event, 'y')"/>
  </label>
</div>
